<h1>Editing Stock List</h1>

<%= render 'form', stock_list: @stock_list %>

<%= link_to 'Show', @stock_list, class:"btn btn-default" %> 
<%= link_to 'Stock Lists', stock_lists_path, class:"btn btn-default" %>
